asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.1
dj-rest-auth==7.0.1
Django==4.2.20
django-allauth==65.7.0
django-filter==25.1
django-rest-auth==0.9.5
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
gunicorn==23.0.0
idna==3.10
pillow==11.2.1
PyJWT==2.9.0
pytz==2021.3
requests==2.32.3
six==1.17.0
sqlparse==0.4.2
tzdata==2021.5
urllib3==2.4.0
